:root {
  --screenXs: 320px;
  --screenXm: 480px;
  --screenSm: 640px;
  --screenMd: 768px;
  --screenLg: 1024px;
  --screenXl: 1280px;
  --screen2Xl: 1536px;
  --screen3Xl: 1920px;

  --pageWidth: 1536px;
}
