:root {
  --zMainBar: 1000;
  --zNavigation: 2000;
  --zLogo: 2001;
  --zDrawer: 2250;
  --zPageDrawer: 2275;
  --zBoundaries: 2300;
  --zBackdrop: 2500;
  --zMenu: 3000;
  --zDialog: 3000;
  --zMax: 10000;
}
